/*Custom scss */

/*Import*/
@import "./../../../node_modules/bootstrap/scss/functions";
@import "./../../../node_modules/bootstrap/scss/variables";



$violet: #704CB6;


$theme-colors: (primary: $violet );



@import "./../../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #B7BBBE;
}


header{
    img{
        width: 60%;
    }
}

img {
    width: 100%
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none !important
}

.headband {
    background: url(/IMG_0801.jpg);
    width: 100%;
}