/*Custom scss */

/*Import*/
@import "./../../../node_modules/bootstrap/scss/functions";
@import "./../../../node_modules/bootstrap/scss/variables";



$violet: #704CB6;


$theme-colors: (primary: $violet );



@import "./../../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #B7BBBE;
}


header{
    img{
        width: 60%;
    }
}

img {
    width: 100%
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none !important
}

  
.headband {
    background: url(/IMG_0801.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 300px;
    margin-top: 30px;
  }

#wrapper-form {
  position: relative;
  top: 100px;
  padding: 15px;
  right: -15px;
  background-color: white;
  box-shadow: 3px 3px 3px B7BBBE;
  border-radius: 6px;  }
#form-reservation {
  #start-date-label,#end-date-label{
    width: 48%;
    overflow: hidden;
  }
}

#form-reservation {
   #category-label {
  display: flex;
  flex-direction: column;
  margin-left: 2%;}
}

#form-reservation {
   #nb-person-label {
      input {
        width: 50%;}
      }
}
#form-reservation {
  #submit-reservation {
    position: relative;
  z-index: 1;}
}
#list-services {li {
  margin: 10px 20px 0 0;
  }
}